﻿@{
    //MySqlHelper.
    Test test = new Test() ;
    String flag = test.Login("13621370125","4QrcOUm6Wau+VuBX8g+IPg==") ;
    Console.WriteLine("flag:"+flag) ;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>@flag Welcome to the WebMatirx!</h1>
        <p>I begin to become a Web delevoper on @DateTime.Now.ToString()</p>
    </body>
</html>
